<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyVideoPlayerSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>021948181F04B02900BF07D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0219482C1F04B02A00BF07D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>021948371F04B02A00BF07D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
